<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campbuxx.db">
	
	
	
	<!-- Restaurant -->
	
	<resultMap type="Restaurant" id="restaurantResultMap">
		<result property="id" column="RES_ID" />
		<result property="name" column="RES_NAME" />
		<result property="rate" column="RES_RATE" />
		<result property="distance" column="RES_DISTANCE" />
		<result property="category" column="RES_CATEGORY" />
		<result property="lastTime" column="RES_LAST_TIME" />
		<result property="fav" column="RES_FAV" />
		<result property="cost" column="RES_COST" />
	</resultMap>
	
	
	
	<!-- Category -->
	
	<resultMap type="Category" id="categoryResultMap">
		<result property="id" column="C_ID" />
		<result property="name" column="C_NAME" />
		<result property="desc" column="C_DESC" />
	</resultMap>
	
	
	<!-- User -->
	
	<resultMap type="User" id="userResultMap">
		<result property="id" column="USER_ID" />
		<result property="name" column="USER_NAME" />
		<result property="nId" column="USER_sN_ID" />
		<result property="email" column="USER_EMAIL" />
	</resultMap>
	
	
	
	<!-- ======================= operations ========================= -->


	
	<!-- index select -->
	
	<select id="selectRestaurants" parameterType="Restaurant" resultMap="restaurantResultMap">
		select * from tb_restaurant where
			1=1
			<if test="id != null">
				and res_id = #id#
			</if>
			
			<if test="rate != null">
				and res_rate = #rate#
			</if>
			<if test="category != null">
				and res_category = #category#
			</if>
			<if test="name != null">
				and res_name = #name#
			</if>
			<if test="distance != null">
				<![CDATA[ and res_distance <= #distance# ]]>
			</if>
					
	</select>
	
	<select id="selectRestaurantsByLearning" parameterType="Restaurant" resultMap="restaurantResultMap">
		select * from tb_restaurant where
			1=1
			<if test="id != null">
				and res_id = #id#
			</if>
			
			<if test="rate != null">
				and res_rate = #rate#
			</if>
			<if test="category != null">
				and res_category = #category#
			</if>
			<if test="name != null">
				and res_name = #name#
			</if>
			<if test="distance != null">
				<![CDATA[ and res_distance <= #distance# ]]>
			</if>
			<if test="lastTime != null">
				<![CDATA[ and res_last_time <= #lastTime# ]]>
			</if>
			<if test="cost != null">
				<![CDATA[ and res_lcost <= #cost# ]]>
			</if>
			order by res_fav DESC
					
	</select>
	
	<select id="selectCategory" parameterType="Category" resultMap="categoryResultMap">
		select * from tb_category where
			1=1
			<if test="id != null">
				c_id = #id#
			</if>
			<if test="name != null">
				c_name = #name#
			</if>
	</select>
	
	
    
</mapper>